workflow/PDPjPDUewXh3uFO1-Daily_Morning_Weather_Report_with_AI_Powered_Email.json
{
  "name": "Daily Morning Weather Report with AI-Powered Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "53c891bb-8162-4f40-b1ca-fe3675da24fd",
      "name": "Every Morning at 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "location",
              "value": "<__PLACEHOLDER_VALUE__YOUR_CITY_NAME__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "<__PLACEHOLDER_VALUE__your-email@example.com__>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e141fc82-f2fc-48b9-a0bf-c961606f6fef",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "locationSelection": "zipCode",
        "zipCode": "52250"
      },
      "id": "54b28454-9d30-4a5e-b42a-40222970f61b",
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "3DQcE49Acila1HKa",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a fun, witty weather reporter. Based on the following weather data, write a short, engaging weather report email body with personality. Include temperature, feels like temperature, weather conditions, humidity, wind speed, and visibility. Add recommendations for clothing and activities for the day. Make it fun and conversational!\n\nWeather Data:\nLocation: {{ $('Get Weather Data').item.json.name }}\nTemperature: {{ $('Get Weather Data').item.json.main.temp }}°C\nFeels Like: {{ $('Get Weather Data').item.json.main.feels_like }}°C\nConditions: {{ $('Get Weather Data').item.json.weather[0].description }}\nHumidity: {{ $('Get Weather Data').item.json.main.humidity }}%\nWind Speed: {{ $('Get Weather Data').item.json.wind.speed }} m/s\nVisibility: {{ $('Get Weather Data').item.json.visibility }} meters\n\nWrite a fun, formatted email body (use HTML formatting if you like) with all relevant details to help decide on plans and clothing for the day."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e7781b1f-a0d2-4fef-9896-74841ecc810d",
      "name": "Generate Fun Weather Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "l4ktxeKfJ4IdzBb8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.email }}",
        "subject": "={{ 'Good Morning! ☀️ Weather Report for ' + $('Get Weather Data').item.json.name + ' - ' + new Date().toLocaleDateString() }}",
        "emailType": "text",
        "message": "={{ $('Generate Fun Weather Report').item.json.choices[0].message.content }}",
        "options": {}
      },
      "id": "009b5509-fb05-4dd9-8353-8f8aeacc1e91",
      "name": "Send Weather Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "webhookId": "143dbbc1-3aa5-435e-b7a9-230eb359f2e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "KVK9rr7wNoNafOCf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every Morning at 5 AM": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Generate Fun Weather Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Fun Weather Report": {
      "main": [
        [
          {
            "node": "Send Weather Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}